<html>
<head>
    <title>Website</title>
    <!-- <link href="/stylesheets/style3.css" rel="stylesheet" type="text/css"> -->
     <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style3.css">
</head> 
<body>
    <header>
        
    <div class="row">
        <div class="logo">
        <a href="/"><img src="static/images/logo.png">
        </a>
    <ul class="main-nav">    
        <li><a href="/"> HOME </a></li>
        <!-- <li><a href=""> MENU </a></li> -->
        <!-- <li><a href=""> SERVICES </a></li> -->
        <li class="active"><a href="/about"> ABOUT </a></li>
        <li><a href="/contact"> CONTACT </a></li>
        <li><a href="/news"> NEWS </a></li>
        <li><a href="/faq"> FAQ </a></li>
    </ul>    
        </div>
     </div>
    
    <div class="hera">

    <div class="row" id="team">
        <ul class="row">
          <li class="column">
            <div class="figure"><img src="static/images/demo/team-member.gif" alt="Template Demo Image" style="width:150px">
              <div class="figcaption">
                <p class="team_name">Ayush Bathrey</p>
                <p class="team_title">Project Manager</p>

              </div>
            </div>
            
          </li>
          <li class="one_quarter">
            <div class="figure"><img src="static/images/demo/team-member.gif" alt="Template Demo Image" style="width:150px">
              <div class="figcaption">
                <p class="team_name">Ayush Hardikar</p>
                <p class="team_title">Content Manager</p>
              </div>
            </div>
            
          </li>
          <li class="column">
            <div class="figure"><img src="static/images/demo/team-member.gif" alt="Template Demo Image" style="width:150px">
              <div class="figcaption">
                <p class="team_name">Bharat Kabra</p>
                <p class="team_title">D.B.A</p>
                
              </div>
            </div>
            
          </li>
          <li class="one_quarter">
            <div class="figure"><img src="static/images/demo/team-member.gif" alt="Template Demo Image" style="width:150px">
              <div class="figcaption">
                <p class="team_name">Adarsh Jain</p>
                <p class="team_title">UI developer</p>
              </div>
            </div>
            
          </li>
        </ul>
      </div>  
    <!--  -->
    <!-- <h1>Check your Scientific Literacy and Scientific Temper</h1> -->
        
      
            
    </div>
    
    </header>


        
</body>    
</html>
<!--  -->