<html>
<head>
    <title>Website</title>
    <!-- <link href="/stylesheets/style3.css" rel="stylesheet" type="text/css"> -->
     <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/css/style3.css">
</head> 
<body>
    <header>
        
    <div class="row">
        <div class="logo">
        <a href="/"><img src="static/images/logo.png">
        </a>
    <ul class="main-nav">    
        <li><a href="/"> HOME </a></li>
        <!-- <li><a href=""> MENU </a></li> -->
        <!-- <li><a href=""> SERVICES </a></li> -->
        <li><a href="/about"> ABOUT </a></li>
        <li><a href="/contact"> CONTACT </a></li>
        <li><a href="/news"> NEWS </a></li>
        <li class="active"><a href="/faq"> FAQ </a></li>
    </ul>    
        </div>
     </div>
       
        
    <div>
<ul class="btn-two">
    <li> How can I give particular students extra time or numbers of attempts?</span></li>
    <li> Can I have different start times/timings/numbers of attempts for different groups?</span></li>
    <li> What happens if students submit answers after the quiz closing date?</span></li>
     <li> How can a "Never submitted quiz" attempt be submitted?</span></li>
    <li> Why can't people (guests) attempt a quiz without creating an account and logging in?</span></li>
    <li> How can I prevent a student from reviewing or jumping around questions in a quiz?</span></li>
    <li> How can I force my students to answer all the question in a quiz before they submit?</span></li>
</ul>    
            
    </div>
    </header> 
    


        
</body>    
</html>
<!--  -->