<html>
<head>
    <title>Website</title>
     <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style2.css">
    <!-- <link href="/stylesheets/style2.css" rel="stylesheet" type="text/css"> -->
  	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    
</head> 
<body>
    <header>
        
    <div class="row">
        <div class="logo">
        <a href="/"><img src="static/images/logo.png">
        </a>
    <ul class="main-nav">    
        <li class="active"><a href="/"> HOME </a></li>
        <!-- <li><a href=""> MENU </a></li> -->
        <!-- <li><a href=""> SERVICES </a></li> -->
        <li><a href="/about"> ABOUT </a></li>
        <li><a href="/contact"> CONTACT </a></li>
        <li><a href="/news"> NEWS </a></li>
        <li><a href="/faq"> FAQ </a></li>
    </ul>    
        </div>
     </div>
        
        
    <div class="hero">
    <h1>Check your Scientific Literacy and Scientific Temper</h1>
        
    <div class="button">
        <a href="http://localhost:4000/login" class="btn btn-one"> Log in</a>
        <a href="http://localhost:4000/signup" class="btn btn-two"> Sign up</a>    
    </div>    
            
    </div>
    
    </header>


        
</body>    
</html>
<!--  -->