<html>
<head>
    <title>Website</title>
    <!-- <link href="/stylesheets/style3.css" rel="stylesheet" type="text/css"> -->
  <link rel="stylesheet" href="static/css/style3.css">
     <!-- <link rel="stylesheet" href="static/css/bootstrap.min.css"> -->
</head> 
<body>
    <header>
        
    <div class="row">
        <div class="logo">
        <a href="/"><img src="static/images/logo.png">
        </a>
    <ul class="main-nav">    
        <li><a href="/"> HOME </a></li>
        <!-- <li><a href=""> MENU </a></li> -->
        <!-- <li><a href=""> SERVICES </a></li> -->
        <li><a href="/about"> ABOUT </a></li>
        <li><a href="/contact"> CONTACT </a></li>
        <li class="active"><a href="/news"> NEWS </a></li>
        <li><a href="/faq"> FAQ </a></li>
    </ul>    
        </div>
     </div>
        
    <div class="hera">

<h1 class="inverse">Top 10 Highest Literate States of India : Ranking</h1>

<!--Row 1st Level-->

<div class="btn-one">
    <!--Main-Description-->
    <div class="col-sm-8">  
                <table class="table table2 table-striped table-hover "><thead>

<tr class="tophead">
<th colspan="2"></th>
<th colspan="3" class="topheadtd1">2011 Census</th>
<th colspan="3" class="topheadtd2">2001 Census</th>
</tr>

<tr>
<th>Rank</th>
<th class="alignleft">State</th>
<th>Literacy...</th>
<th>Male...</th>
<th>Female...</th>
<th>Literacy...</th>
<th>Male...</th>
<th>Female...</th>
</tr></thead>

<tbody id="tbody">
<tr>
<td>1</td>
<td class="alignleft">Kerala</td>
<td>94.00</td>
<td>96.11</td>
<td>92.07</td>
<td>90.86</td>
<td>94.24</td>
<td>87.72</td>

</tr>   <tr>
<td>2</td>
<td class="alignleft">Lakshadweep</td>
<td>91.85</td>
<td>95.56</td>
<td>87.95</td>
<td>86.66</td>
<td>92.53</td>
<td>80.47</td>

</tr>   <tr>
<td>3</td>
<td class="alignleft">Mizoram</td>
<td>91.33</td>
<td>93.35</td>
<td>89.27</td>
<td>88.80</td>
<td>90.72</td>
<td>86.75</td>

</tr>   <tr>
<td>4</td>
<td class="alignleft">Goa</td>
<td>88.70</td>
<td>92.65</td>
<td>84.66</td>
<td>82.01</td>
<td>88.42</td>
<td>75.37</td>

</tr>   <tr>
<td>5</td>
<td class="alignleft">Tripura</td>
<td>87.22</td>
<td>91.53</td>
<td>82.73</td>
<td>73.19</td>
<td>81.02</td>
<td>64.91</td>

</tr>   <tr>
<td>6</td>
<td class="alignleft">Daman and Diu</td>
<td>87.10</td>
<td>91.54</td>
<td>79.55</td>
<td>78.18</td>
<td>86.76</td>
<td>65.61</td>

</tr>   <tr>
<td>7</td>
<td class="alignleft">Andaman and Nicobar Islands</td>
<td>86.63</td>
<td>90.27</td>
<td>82.43</td>
<td>81.30</td>
<td>86.33</td>
<td>75.24</td>

</tr>   <tr>
<td>8</td>
<td class="alignleft">Delhi</td>
<td>86.21</td>
<td>90.94</td>
<td>80.76</td>
<td>81.67</td>
<td>87.33</td>
<td>74.71</td>

</tr>   <tr>
<td>9</td>
<td class="alignleft">Chandigarh</td>
<td>86.05</td>
<td>89.99</td>
<td>81.19</td>
<td>81.94</td>
<td>86.14</td>
<td>76.47</td>

</tr>   <tr>
<td>10</td>
<td class="alignleft">Puducherry</td>
<td>85.85</td>
<td>91.26</td>
<td>80.67</td>
<td>81.24</td>
<td>88.62</td>
<td>73.90</td>

</tr>       
</tbody>
</table>

        
<style type="text/css">.adslot_lbbottom{display:block;max-width:728px;height:90px}@media (max-width:499px){.adslot_lbbottom{margin:0 auto;width:97%;height:60px}}@media (min-width:500px){.adslot_lbbottom{margin:0 auto;width:97%;height:60px}}@media (min-width:750px){.adslot_lbbottom{margin:0 auto;width:97%;height:90px}}</style>

 <ins class="adsbygoogle adslot_lbbottom" data-ad-client="ca-pub-0612465356921996" data-ad-slot="5880417044" data-ad-format="horizontal"></ins>
<script>(adsbygoogle=window.adsbygoogle||[]).push({});</script>


        
        

         
        
    
    </div>
    <!--/Main-Description-->
    
    <!--Sidebar-Boxes-->
    <div class="col-sm-4">
        <div class="panel-group" id="accordion">
            
<style type="text/css">.adslot_600{margin:0 auto;display:block;width:300px;height:600px}@media (min-width:1010px){.adslot_600{width:300px;height:600px}}@media (max-width:749px){.adslot_600{width:100%;height:300px}}</style>

 <ins class="adsbygoogle adslot_600" data-ad-client="ca-pub-0612465356921996" data-ad-slot="4403683846"></ins>
<script>(adsbygoogle=window.adsbygoogle||[]).push({});</script>

<br>
        </div>
    </div>
    <!--/Sidebar-Boxes-->


    
</div>
<!--/Row 1st Level-->



</div>   
            
    </div>
    
    </header>


        
</body>    
</html>
<!--  -->